# Data Aggregation with `groupby()`

<center><img src="../images/stock/pexels-caleboquendo-7772561.jpg"></center>

In this lesson, we'll explore data aggregation using the `groupby()` method.

## Getting Started

### Import Libraries

First, we'll bring in the essential tools we'll need for this lesson:

```python
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
````

In [ ]:
## Import Libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

### Load Dataset

Next, we'll load the `Pokémon` dataset.

This `Pokémon` dataset contains various details on Pokémon.

__Columns:__

* __`#`__: The unique identifier or Pokédex number.

* __`Name`__: The name of the Pokémon (including Mega Evolutions).

* __`Type 1`__: The primary elemental type (Grass, Fire, Water, etc.).

* __`Type 2`__: The secondary elemental type. This is missing for single-type Pokémon.

* __`Total`__: The sum of all six base stats.

* __`HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`__: The individual base stats that determine battle performance.

* __`Generation`__: The generation number in which the Pokémon was introduced.

* __`Legendary`__: A boolean (`True`/`False`) indicating if the Pokémon is a Legendary/Mythical creature.

In [ ]:
## Load and Preview Dataset
file = "../data/pokemon.csv"

pokemon_df

### Inspect the Dataset

Before we start grouping and aggregating, it's always a good idea to get a feel for our data. Let's use the `.info()` method on our DataFrame to get a summary of its structure.

In [ ]:
## View Key Information on the Dataset

### Data Cleaning (Lite)

As noted from the `.info()` output, it seems our dataset contains some missing values. 

`Type 2` is missing a significant amount of information.
It turns out that many Pokémon only have a single Type.

What should we do?

In [ ]:
## Handle Null Values

### Visualizing All Numerical Distributions (Subplots)

To quickly get familiar with our numerical data, let's visualize the distribution across the entire dataset.

We can quickly generate a grid of histograms for every numerical column in our DataFrame using the built-in Pandas `.hist()` function. This creates a multi-panel chart known as a subplot.

Because subplots can often overlap, we use `plt.subplots_adjust()` to manually set the horizontal (`wspace`) and vertical (`hspace`) padding, ensuring all titles and labels are legible.

__Syntax__:
```python
# Create the figure object (optional, but good for control)
plt.figure(figsize=(WIDTH, HEIGHT))

# Generate the Subplots
DataFrame.hist(
    figsize=(WIDTH, HEIGHT),
    bins=NUMBER_OF_BINS,
    edgecolor="COLOR"
)

# Adjust Spacing
plt.subplots_adjust(
    hspace=VERTICAL_SPACE_RATIO,
    wspace=HORIZONTAL_SPACE_RATIO
)

# Customize Plot
plt.suptitle("Title")

# Show the Plot
plt.show() # Used when running in a script/environment that needs explicit display
```

In [ ]:
# Draw Figure



# Generate Plot





# Customize Plot

### Visualizing Correlations

And while we are here, let's investigate and visualize the strength of any correlated variables.

#### `df.corr()`

The `df.corr()` method returns a correlation matrix.
Each cell represents the correlation coefficient between two different columns.

The coefficients range from -1 to 1:

* __1__: Perfect positive correlation 
* __0__: No linear relationship
* __-1__: Perfect negative correlation

Syntax

```python
df.corr(numeric_only=True)
```

In [ ]:
# Correlation Matrix

#### Heat Map: Visualizing the Correlation Matrix

A heatmap is a graphical representation of a correlation matrix.

In a heatmap, the values are shown using color gradients.

Syntax

```python
sns.heatmap(
    data=df, 
    annot=True, 
    cmap='coolwarm', 
    fmt=".2f"
)
```

* __`annot`__: If true, the data value will be present in each cell
* __`cmap`__: The colormap used for mapping the data values to colors
* __`fmt`__: String formatting code for the annotations (how many decimal places?)

In [ ]:
# Heat Map

## Split-Apply-Combine: The Concept Behind Groupby

<center><img src="../images/stock/pexels-mark-enkey-2156438346-34524495.jpg"></center>

The `groupby()` method is based on the split-apply-combine strategy:

* __Split:__ The data is divided into groups based on one or more columns.

* __Apply:__ You apply a function (e.g., mean, sum, count) to each group independently.

* __Combine:__ The results from each group are combined into a new data structure.

### Applying Groupby

Let's break down the `groupby()` method step by step.

* What is a Groupby Object?

    * When you apply the `groupby()` method to a DataFrame, it doesn't immediately perform calculations. 
    * Instead, it creates a DataFrameGroupBy object. 
    * This object contains information about how the data has been split into groups, but the calculations are deferred until you specify an aggregation function.

__Syntax__

The basic syntax for `groupby()` is:

```python
df.groupby(column_name)
```

* `df`: The Pandas DataFrame you want to group.

* `column_name`: The column name (or a list of column names) that you want to group the data by.

### Grouping by Type 1

Let's start with a by grouping our DataFrame based on the `Type 1` column. 

This will categorize our data into several groups such as `Dragon`, `Fighting`, `Grass`, `Rock`, and so on.

In [ ]:
## Group by Type 1

The output of `.groupby()` will be a `DataFrameGroupBy` object. 

This object signifies that the data has been successfully organized into groups based on the unique values in the selected column. 

However, it's important to remember that this is an intermediate step. No actual calculations or aggregations have been applied to these groups yet. 

To gain meaningful insights, we need to tell apply the operations we want to perform on each of these groups, such as calculating the mean, sum, or count of specific columns. 

The DataFrameGroupBy object provides the structure for these subsequent aggregation operations.

## Applying Aggregation Functions

<center><img src="../images/stock/pexels-anton-8100-243698.jpg"></center>

With our data now organized into groups based on the `Type 1` of the Pokemon, the next step is to apply aggregation functions. 

These functions allow us to calculate summary statistics for each group, providing us with insights into the characteristics of Pokemon based on their type. 

Let's explore some common aggregation functions in Pandas.

### Mean

Which Pokemon Type, on average, has the greatest Attack Power? 

We can calculate the average `Attack` for each Pokemon Type by using the `.mean()` aggregation function.

__Syntax__

```python
DataFrame.groupby('Categorical_Column')['Numerical_Column'].Aggregation_Function()
```

Let's apply this to our group object.

In [ ]:
## Begin Calculation

### Visualize

Once we perform an aggregation with `groupby()`, the resulting data structure is a Pandas Series, where the grouping column is used as the index.

Before generating a visualization with plotting libraries like `Seaborn`, we typically need the index (the groups) to be treated as a regular data column in a DataFrame. This is done by resetting the index.

Syntax:

```python
Aggregated_Series.reset_index(name='New_Column_Name')
```

In [ ]:
# Visualize Average Attack x Pokemon Type

# Convert Groupby Series into a DataFrame by Reseting the Index


# Sort by Attack


# Draw Figure


# Draw Plot





    
# Customize

### Count

Let's get the count of Pokémon by type.

In [ ]:
## Get Count

Now let's follow up with a visualization.

In [ ]:
# Visualize Counts

# Convert Groupby Series into a DataFrame by Reseting the Index


# Draw Figure


# Draw Plot





    
# Customize

### Groupby Revisited

When we use `.groupby()`, imagine sorting your entire dataset into separate bins, where each bin holds rows that share the same value in a specific column. 

In our case with the `Pokémon` dataset, we used `.groupby('Type 1')` to create distinct groups: one containing all Dragon types, another for Ghost types, another for Water types, and so on.

<center> Original Data Set</center>

| Name | Type 1 | Type 2 | Attack |
|------|--------|--------|--------|
| Pikachu |	Electric |	- | 55 |
| Bulbasaur | Grass |	Poison | 49 |
| Squirtle | Water |	- |	48 |
| ... | ... | ... | ... |

<center>Electric Group</center>

| Name | Type 1 | Type 2 | Attack |
|------|--------|--------|--------|
|Pikachu	|Electric|	-	|55|
|Jolteon	|Electric|	-	|65|
|Raichu	|Electric|	-	|85|
|...|...|...|...|

<center>Water Group</center>

| Name | Type 1 | Type 2 | Attack |
|------|--------|--------|--------|
|Squirtle|	Water|	-	|48|
|Vaporeon|	Water|	-	|65|
|Gyarados|	Water|	Flying|	125|
|...	|...	|...|	...|

<center>Fire Group</center>

| Name | Type 1 | Type 2 | Attack |
|------|--------|--------|--------|
|Charmander	|Fire	|-	|52|
|Charizard	|Fire	|Flying|	84|
|Flareon	|Fire	|-	|130|
|...	|...	|...	|...|

         
Once these groups are formed, we apply the `.count()` aggregate function to the `Name` column (or any other non-null column). 

This effectively counts the number of rows (the number of Pokémon) in each individual type-specific group.

<center>The Resulting Series of Pokémon Counts</center>

|Type 1|	Count|
|---|---|
|Bug|	69|
|Dark|	31|
|Dragon|	32|
|Electric|	59|
|Fire|	52|
|Flying|	4|
|Grass|	78|
|Water|	127|
|...|	...|


`.groupby()` allows us to analyze trends and differences across various categories within our data, providing insights that might be hidden in the overall dataset.

### Other Useful Aggregation Functions

Here are some other commonly used aggregation functions:

* __`sum()`__: Total of all values in each group.

* __`min()`__: Minimum value in each group.

* __`max()`__: Maximum value in each group.

* __`any()`__: Returns True if any value in the group is True.

* __`all()`__: Returns True if all values in the group are True.

* __`median()`__: Median value of each group.

* __`std()`__: Standard deviation of each group.

## Groupby Multiple Columns

<center><img src="../images/stock/pexels-introspectivedsgn-9661252.jpg"></center>

The power of `.groupby()` extends beyond just a single column. 

You can also group your data based on the unique combinations of values from multiple columns. This allows for even more granular analysis and the creation of more specific subgroups within your data. 

When you group by multiple columns, the resulting structure will have a hierarchical index (also known as a MultiIndex), reflecting the different levels of grouping you've applied.

Let's build upon our previous example and perform a more detailed analysis. We'll group our DataFrame by both `Type 1` and `Type 2`, and then calculate the count of each unique combination of these two factors.

In [ ]:
# Group by Type 1 and Type 2

In [ ]:
# Get Count

### Multi-Index
When you group a DataFrame by multiple columns, such as `Type 1` and `Type 2`, the resulting Series or DataFrame often has a __MultiIndex__. This means that the index itself has multiple levels, corresponding to the columns you used in the `.groupby()` operation.

In the case of grouping by `Type 1` and `Type 2`, the resulting Series from calculating the count of Pokémon would have a __MultiIndex__ where the first level is `Type 1` and the second level is `Type 2`.

__Accessing Values__
To access a specific value (like the count of a specific dual-type Pokémon) in a Series or DataFrame with a MultiIndex, you can use `.loc[]` with a tuple containing the values for each level of the index.

Syntax:

```python
aggregated_series.loc[(Value_A, Value_B)]
```

The order in the tuple is critica as it must correspond exactly to the order of the columns you used in the `groupby()` function.

Let's practice accessing the Multi-Index in the cells below:

In [ ]:
## Accessing 1 Level of the Multi-Index (Choose Your Type)

In [ ]:
## Accessing 2 Levels of the Multi-Index (Choose Your (Type, Type))

### Resetting the Index

As we've seen, grouping by multiple columns creates a hierarchical index (MultiIndex) in the resulting Pandas Series or DataFrame. Sometimes it's more convenient to have the grouping columns as regular, flat columns in the DataFrame.

To achieve this, we can use the `.reset_index()` method on the Series or DataFrame that results from the `.groupby()` operation. This will convert the levels of the MultiIndex into new columns with their respective names, and a new default integer index will be assigned to the DataFrame.

Let's apply `.reset_index()` to our MultiIndex Series.

__Note__:
* When using `.reset_index()` on a Series, the resulting column that holds the aggregated values (the counts, sums, means, etc.) will default to the name of the column you aggregated (`Name` if you counted names for example).
* The `name=` parameter should be used to assign a descriptive label to the new column.

In [ ]:
## Reset the Index


## Preview the Data

The `.reset_index()` operation transforms the MultiIndex Series into a Pandas DataFrame. 

The `Type 1` and `Type 2` that were previously part of the hierarchical index are now converted into regular columns within this DataFrame. 

A new, simple numerical index is automatically assigned to the rows, and the count values are stored in a column named `Count`. 

This DataFrame format is often more convenient for subsequent analysis and visualization, especially when tools expect the grouping variables as distinct columns.

## Applying Multiple Aggregation Functions with `.agg()`

<center><img src="../images/stock/pexels-caleboquendo-7708407.jpg"></center>

`.mean()` and `.sum()` allow us to calculate a single statistic for each type group, the`.agg()` method can apply multiple aggregation functions simultaneously. This is incredibly useful for getting a comprehensive summary of your grouped data.

The `.agg()` method accepts a variety of arguments:

* __A single aggregation function:__ This works just like calling the function directly on the grouped selection. For example, grouping by `'Type 1'` and applying `.agg('mean')` on the `'Attack'` column would give you the average Attack for each type.

Example Syntax
```python
df.groupby('Grouping_Col')['Value_Col'].agg('mean')
```

* __A list of aggregation functions:__ You can pass a list of function names (as strings) or the function objects themselves, letting you see multiple stats for a column. For example, you could see the min, max, and mean Attack for every type.

Example Syntax
```python
# Calculates the min, max, mean, and sum of 'Value_Col' for every 'Grouping_Col' category
df.groupby('Grouping_Col')['Value_Col'].agg(['min', 'max', 'mean'])
```

* __A dictionary for custom column aggregations:__  Keys are the columns and the values are the aggregation function(s) you want to apply to that column. This allows you to apply different summary statistics to different columns within the same `.groupby()` operation

Example Syntax
```python
# Calculates the mean of 'Price' AND the min and max of 'Quantity'
# for every category in 'Category_ID'.
df.groupby('Category_ID').agg(
    {
        'Price': 'mean',
        'Quantity': ['min', 'max', 'sum']
    }
)
```

### Applying Multiple Aggregations to One Column

To get a richer understanding of a single Pokémon attribute across our groups, we can use the `.agg()` method to calculate several summary statistics simultaneously.

In the following example, we'll group our data by `Type 1` and then apply multiple aggregation functions to the `Attack` column. This gives us a comprehensive overview of the offensive capabilities for Pokémon of each primary type.

Using `groupby()` and `.agg()`, let's determine the mean, minimum, and maximum `Attack` values by Primary Pokémon Type:

In [ ]:
## Begin Example

```python
pokemon_df.groupby("Type 1")["Attack"].agg(["mean",
                                            "min", 
                                            "max"])
```

selects the `Type 1` column for each origin group and then calculates the `mean`, `minimum`, and `maximum` values within that group.

The result is a DataFrame where the index is `Type 1` and the columns are the aggregation function results.

### Melting

<center><img src="../images/stock/pexels-ds-stories-9227955.jpg"></center>

Before we can visualize this Aggregate Data with Seaborn, we have to melt it.

__What is Melting?__
Melting transforms a DataFrame by consolidating one or more columns that contain values into a single column.

* __Wide Format (Pre-Melt):__ Data where a row represents a single observation and each variable (like `min`, `mean`, `max`) has its own column. This is often the result of an aggregation.

|Type 1|	mean|	min|	max|
|---|---|---|---|
|Dragon|	112.50|	50|	180|
|Fighting|	96.77|	35|	145|
|Fire	|88.08|	30|	130|

* __Long Format(Post-Melt):__ Data where a row represents a single measurement, and two new columns are created: one for the variable name (`min` or `max`) and one for its corresponding value (the actual number). 

|Type 1|	Statistic|	Attack Value|
|---|---|---|
|Dragon|	mean|	112.50|
|Fighting|	mean|	96.77|
|Fire|	mean|	88.08|
|Dragon|	min|	50.00|
|Fighting|	min|	35.00|
|Fire|	min|	30.00|
|Dragon|	max|	180.00|
|Fighting|	max|	145.00|
|Fire|	max|	130.00|

__Why Do We Melt?__
The primary reason to melt data is for visualization and consistent analysis. Visualization libraries like Seaborn are designed to work with long data where:

* The x or y axis is determined by a category column (like `Type 1`).

* The clustering/grouping is determined by a variable column (such as `Statistic`).

* The bar heights are determined by the value column (like `Attack Value`).

Melting converts the column headers (like `mean`, `min`, `max`) into usable row categories.

### How to Melt using `pd.melt()`

The Pandas function used is `pd.melt()`. It takes three main arguments:

__Generic Syntax__

```python
pd.melt(
    df,
    id_vars=['identifier_column'],
    value_vars=['column_to_unpivot_1', 'column_to_unpivot_2', '...'],
    var_name='new_variable_column_name',
    value_name='new_value_column_name'
)
```

Let's melt our Aggregation in the cell below:

In [ ]:
## Melt








## Melted

### Visualizing the Data

Let's create a horizontal bar chart to graphically represent the data.

In [ ]:
## Visualize the Data Based on the Melt

# Draw Figure



# Draw Plot






# Customize

### Applying Different Aggregations to Different Columns

We aren't limited to applying the same aggregation to all columns. Instead, we can specify __different summary statistics for different Pokémon attributes within__ our grouped object. This allows us to tailor our analysis to the specific characteristics of each variable.

In the following example, we'll group by `Type 1` and then calculate different statistics for `Attack`, `Defense`, `HP`, and `Name` to get a more nuanced understanding of the battle characteristics for each Pokémon type.

Specifically, we will use the following custom aggregations:

* For the `Attack column`, calculate both the `mean` and `maximum` (to see average offense and potential for a heavy hitter).

* For the `Defense` column, calculate the `mean` (to see average durability).

* For the `HP` column, we find the `median` (as a measure of typical health).

* For the `Name` column, we use `count` to determine the total number of Pokémon within each type group, giving us the sample size for each type.

In [ ]:
## Begin Example

```pokemon_df.groupby("Type 1").agg({...})``` allows us to specify which aggregation functions to apply to which columns.

The result is a dataframe with `Type 1` as the index and a hierarchical column structure where the first level is the column name (`Attack`, `Defense`, `HP`, `Name`) and the second level is the aggregation function applied.

### Melt and Visualize

#### Melting the Data

When melting the data, we will have to pay close attention to the columns as they are tuples.

Take a look by outputing the column names:

In [ ]:
# Output Column Names

In [ ]:
# Melt the Data

In [ ]:
# Rename Columns

#### Visualizing the Data

Trying to visualize all of the data at once would be gross and confusing. Instead, let's focus on plotting a single battle stat in the cell below:

In [ ]:
# Select Data




# Set Up Figure



# Generate Plot








# Customize Figure

## Conclusion

<center><img src="../images/stock/pexels-abhishek-rana-422784-4188296.jpg"></center>

Now you've seen the power and flexibility of the `.groupby()` method in Pandas for segmenting your data and calculating insightful summary statistics for each group. We explored how to apply individual aggregation functions like `.mean()` and `.sum()`, and then expanded our toolkit with the versatile `.agg() method`, allowing us to calculate multiple statistics simultaneously across different columns. 

Furthermore, we learned how `.reset_index()` can transform the grouped output into a more conventional DataFrame structure, making it easier to work with for subsequent analysis and visualization, especially when tools expect grouping variables as regular columns.

As you continue your data exploration journey, remember that libraries like Seaborn can significantly enhance your visualizations of grouped data. Seaborn often works seamlessly with DataFrames created after a `groupby()` and `reset_index()` operation, providing more sophisticated plot types and aesthetics with less code.