# Data Structures and Sequences

![img](../images/stock/pexels-googledeepmind-18069423.jpg)
This notebook introduces Python's essential data structures: 
* tuples
* lists
* dictionaries
* sets 

These structures organize data in different ways, allowing for efficient storage and manipulation. 

We'll cover their creation, modification, and common operations, providing a practical foundation for working with data in Python.

## Tuples
Tuples are fixed-length, ordered collections of Python objects that are immutable. Once a tuple is created, its elements cannot be modified.

### Creating Tuples

* Tuples are created using parentheses `()`.
* Elements are separated by commas.
* Tuples can contain mixed data types.

In [19]:
# Mixed Data Type Tuple
my_tuple = (1, 2, 3, "hello", 3.14)

* An empty tuple is created using empty parentheses `()`.

In [20]:
# Empty Tuple
empty_tuple = ()

* A tuple of one element requires a trailing comma, `(element,)`, otherwise python will interpret it as a variable enclosed in parenthesis.

In [21]:
# Single Item Tuple
single_item_tuple = (5,)

### Implicit Tuple Creation:

* In many cases, Python can infer that you're creating a tuple even without parentheses.
* This is particularly common in assignment statements and function returns.

In [22]:
my_tuple = 4, 5, 6, "good bye"
my_tuple

(4, 5, 6, 'good bye')

### `tuple()` Function

`tuple()` is a built-in Python function used to convert various iterable objects into tuples.

* `Lists` are easily converted to tuples, preserving the order of elements.

In [23]:
# Converting a list to a tuple
my_list = [1, 2, 3, 4, 5]
my_tuple_from_list = tuple(my_list)
print(my_tuple_from_list)

(1, 2, 3, 4, 5)

* `Strings` are converted into tuples where each character becomes an element.

In [24]:
# Converting a string to a tuple (characters become elements)
my_string = "hello"
my_tuple_from_string = tuple(my_string)
print(my_tuple_from_string)

('h', 'e', 'l', 'l', 'o')

* `Range objects`, which generate sequences of numbers, can be converted into tuples.

In [25]:
# Converting a range object to a tuple
my_range = range(5)
my_tuple_from_range = tuple(my_range)
print(my_tuple_from_range)

(0, 1, 2, 3, 4)

* When `sets` are converted into tuples. The set is unordered, so the order of the tuple will be arbitrary.

In [26]:
# Converting a set to a tuple
my_set = {10, 20, 30}
my_tuple_from_set = tuple(my_set)
print(my_tuple_from_set)

(10, 20, 30)

* When converting a `dictionary` to a tuple, only the keys are included as elements.

In [27]:
# Converting a dictionary to a tuple (keys become elements)
my_dict = {"a": 1, "b": 2, "c": 3}
my_tuple_from_dict = tuple(my_dict)
print(my_tuple_from_dict)

('a', 'b', 'c')

* `Generators` can be converted into tuples. This forces the generator to evaluate, and create all of its elements.

In [28]:
#Converting a generator to a tuple.
my_generator = (x**2 for x in range(5))
my_tuple_from_gen = tuple(my_generator)
print(my_tuple_from_gen)

(0, 1, 4, 9, 16)

The `tuple()` function works with any `iterable` object, meaning any object that can be looped over. The resulting tuple is always immutable, regardless of the original object's mutability.

### Accessing Elements

Elements are accessed using square brackets `[]` and zero-based indexing

In [29]:
# Accessing elements
print(my_tuple[0])  
print(my_tuple[3])

4
good bye

### Slicing

Slices of tuples can be created using the colon `:` operator

In [30]:
# Tuple slicing
print(my_tuple[1:4])

(5, 6, 'good bye')

### Tuple Unpacking

Tuple elements can be assigned to individual variables

In [31]:
a, b, c, d = my_tuple
print(a)
print(b)
print(c, d)

4
5
6 good bye

### Immutability

Tuples cannot be modified after creation. Attempting to assign a new value to an element will result in a `TypeError`

In [32]:
tup = tuple(["CS", [4, 1, 0], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment


### Tuple Methods and Functions

Tuples have limited methods due to their immutability

#### `count()`

Counts the number of occurrences of a specified value

In [ ]:
# Count Method
print(my_tuple.count(2))

#### `index()`
Returns the index of the first occurrence of a specified value

In [ ]:
# Index Method
print(my_tuple.index("good bye"))

#### `len()`
Returns the length of the tuple

In [ ]:
# Length Function
print(len(my_tuple))

## Lists
Lists are mutable, variable-length sequences of Python objects. This means you can modify their elements directly. Lists are created using square brackets `[]` or by passing an iterable to the `list()` function

### Creating Lists
* Lists are created using square brackets `[]`.
* Elements are separated by commas.
* Lists can contain mixed data types.

In [ ]:
# Creating a list
my_list = [1, 2, 3, "hello", 3.14]

* An empty list is created using empty square brackets `[]`.

In [ ]:
# Creating an empty list
empty_list = []

* Lists can be created from other iterables using the `list()` function.

In [ ]:
# Using the list() function
another_list = list((1,2,3))
print(another_list)

### Accessing Elements:

Elements are accessed using square brackets `[]` and zero-based indexing.

In [ ]:
# Accessing elements
print(my_list[0])  
print(my_list[3])

### Slicing

Slices of lists can be created using the colon `:` operator.

In [ ]:
# List slicing
print(my_list[1:4])

### Mutability

Lists are mutable, meaning elements can be changed directly.

In [ ]:
# Modifying elements (mutability)
my_list[0] = 10
print(my_list)

#### `append()`
Adds an element to the end of the list.

In [ ]:
# Appending elements
my_list.append("world")
print(my_list)

#### `insert()`
Inserts an element at a specified index.

In [ ]:
# Inserting elements
my_list.insert(2, "inserted")
print(my_list)

#### `remove()`
Removes the first occurrence of a specified value.

In [ ]:
# Removing elements
my_list.remove("hello")
print(my_list) #Output: [10, 2, 'inserted', 3, 3.14, 'world']

#### `pop()`
Removes and returns the element at a specified index.

In [ ]:
# Removing elements by index
removed_element = my_list.pop(1)
print(my_list) #Output: [10, 'inserted', 3, 3.14, 'world']
print(removed_element) #Output: 2

#### `extend()`
Appends elements from another iterable to the end of the list.

In [ ]:
# Extending lists
another_list = [6, 7, 8]
my_list.extend(another_list)
print(my_list)

#### List Concatenation
Lists can be combined using the `+` operator.

In [ ]:
# List concatenation
combined_list = my_list + another_list
print(combined_list)

#### List Repetition
Lists can be repeated using the `*` operator.

In [ ]:
# List repetition
repeated_list = [1,2] * 3
print(repeated_list)

### List Methods and Functions

#### `len()`
Returns the number of elements in the list.

In [ ]:
# List length
print(len(my_list))

#### `count()`
Counts the number of occurrences of a specified value.

In [ ]:
# Count
print(my_list.count(3))

#### `index()`
Returns the index of the first occurrence of a specified value.

In [ ]:
# Index
print(my_list.index(3))

#### `sort()`
Sorts the list in place.

In [ ]:
# Sorting Lists
my_unsorted_list = [4,2,6,1,8,3]
my_unsorted_list.sort()
print(my_unsorted_list)

#### `reverse()`
Reverses the list in place.

In [ ]:
# Reversing Lists
my_unsorted_list.reverse()
print(my_unsorted_list)

## Dictionary

Dictionaries are a fundamental Python data structure. They store collections of `key-value` pairs, where both `keys` and `values` can be any Python object. 

Dictionaries enable efficient retrieval, insertion, modification, and deletion of values based on their associated keys.

### Creating Dictionaries
* Dictionaries are created using curly braces `{}`
* Key-value pairs are separated by colons `:`
* Keys must be immutable (strings, numbers, tuples), and values can be any Python object.
* Dictionaries can also be created with keyword arguments using the dict() constructor.

In [ ]:
# Creating Dictionaries
my_dict = {"apple": 1, "banana": 2, "orange": 3} 
mixed_dict = {1: "one", "two": 2, 3.14: "pi"
empty_dict = {}

another_dict = dict(apple=1, banana=2, orange=3) 
print(another_dict)

### Accessing Values
Values are accessed using square brackets `[]` and their corresponding keys.

In [ ]:
# Accessing values
print(my_dict["apple"]) 
print(mixed_dict["two"])

### Adding/Modifying
New key-value pairs are added by assigning a value to a new key.
Existing values are modified by assigning a new value to an existing key.

In [ ]:
# Adding or modifying key-value pairs
my_dict["grape"] = 4  
print(my_dict) 

my_dict["apple"] = 10  
print(my_dict)

### Checking for Keys
The in operator checks if a key exists in the dictionary.

In [ ]:
# Checking for keys
print("banana" in my_dict)  
print("pear" in my_dict)

### Removing Pairs
The `del` keyword removes a key-value pair.

In [ ]:
# Removing key-value pairs
del my_dict["orange"]
print(my_dict)

### `keys()`, `values()`, `items()`
These methods return views of the dictionary's keys, values, and key-value pairs, respectively.

In [ ]:
# Getting all keys or values
print(my_dict.keys()) 
print(my_dict.values())

# Getting all key-value pairs as tuples
print(my_dict.items())

### Iteration
You can iterate through a dictionary's key-value pairs using a for loop and the items() method.

In [ ]:
# Iterating through a dictionary
for key, value in my_dict.items():
    print(f"{key}: {value}")

## Sets

### Creation
* Sets are created using curly braces `{}` or the `set()` constructor.
* An empty set must be created with `set()`, as `{}` creates an empty dictionary.
* Sets created from strings will have each unique character as an element.

In [ ]:
# Creating sets
my_set = {1, 2, 3, 4, 5}  
another_set = set([4, 5, 6, 7, 8]) 
empty_set = set() 
string_set = set("hello")
print(string_set)

### Uniqueness
Sets automatically remove duplicate elements.

### Adding Elements
The `add()` method adds a single element to the set.

In [ ]:
# Adding elements
my_set.add(6)
print(my_set)

### Removing Elements
* The `remove()` method removes a specified element. Raises a `KeyError` if the element is not found.

In [ ]:
# Removing elements
my_set.remove(3)
print(my_set)

* The `discard()` method removes a specified element. No error will be raised if the element is not found.

In [ ]:
# Discarding elements (no error if element doesn't exist)
my_set.discard(7)  
my_set.discard(2)
print(my_set)

### Set Operations

Set operations allow you to manipulate and analyze collections of unique elements. 

* __union__ combines all distinct elements from two sets
* __intersection__ identifies elements shared between them
* __difference__ reveals elements present in one set but absent in another
* __symmetric difference__ returns elements that exist in either set, but not in their intersection

Finally, you can check relationships between set

* a __subset__ contains elements entirely within another set
* a __superset__ encompasses all elements of another

#### `union()`
Returns a new set containing all elements from both sets.

In [ ]:
union_set = my_set.union(another_set)
print(union_set)

#### `intersection()` 
Returns a new set containing only the elements common to both sets.

In [ ]:
intersection_set = my_set.intersection(another_set)
print(intersection_set)

#### `difference()` 
Returns a new set containing elements that are in the first set but not the second.

In [ ]:
difference_set = my_set.difference(another_set)
print(difference_set)

#### `symmetric_difference()` 
Returns a new set containing elements that are in either set, but not in both.

In [ ]:
symmetric_difference_set = my_set.symmetric_difference(another_set)
print(symmetric_difference_set)

### Membership
The `in` operator checks if an element is in the set.

In [ ]:
# Checking for membership
print(4 in my_set)  
print(9 in my_set)

### Length
The `len()` function returns the number of elements in the set.

In [ ]:
# Set length
print(len(my_set))

### Subsets and supersets
The `issubset()` and `issuperset()` methods can be used to check if a set is a subset or superset of another set.

In [ ]:
# Checking if a set is a subset or super-set.
subset_set = {4,5}
superset_set = {1,4,5,6}
print(subset_set.issubset(superset_set))
print(superset_set.issuperset(subset_set))

## Built-In Sequence Functions

Familiarizing yourself with Python's sequence functions will significantly enhance your coding efficiency and is highly recommended.

### `enumerate()`
* This function adds a counter to an iterable (like a list, tuple, or string)
* It returns pairs of (index, element) during iteration
* Use it when you need to know the index of each element while looping

In [ ]:
# Enumerate: Tracks the index of elements in an iterable.
my_list = ['a', 'b', 'c']
for index, value in enumerate(my_list):
    print(f"Index: {index}, Value: {value}")

### `sorted()`
* This function returns a new sorted list from the elements of any iterable.
* It does not modify the original iterable.
* It can sort various sequence types, including strings and tuples.

In [ ]:
# Sorted: Returns a new sorted list from the elements of any iterable.

my_unsorted_list = [3, 1, 4, 1, 5, 9, 2, 6]
sorted_list = sorted(my_unsorted_list)
print(sorted_list) 

my_string = "hello"
sorted_string = sorted(my_string)
print(sorted_string)

### `zip()`
* This function "zips" together elements from multiple iterables.
* It creates tuples containing corresponding elements from each iterable.
* It stops when the shortest iterable is exhausted.
* Use it when you need to iterate over multiple sequences in parallel.

In [ ]:
# Zip: Pairs up elements from multiple iterables, creating tuples.

list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
zipped_pairs = zip(list1, list2)
for item1, item2 in zipped_pairs:
    print(f"Item 1: {item1}, Item 2: {item2}")

### `reversed()`
* This function returns an iterator that yields the elements of a sequence in reverse order.
* It does not create a reversed list, but an iterator, which is more memory efficient.
* It works with sequences like lists and tuples.

In [ ]:
# Reversed: Returns an iterator that yields elements in reverse order.

my_list = [1, 2, 3, 4, 5]
reversed_list = reversed(my_list)
for item in reversed_list:
    print(item)

my_tuple = (1,2,3)
reversed_tuple = reversed(my_tuple)
for item in reversed_tuple:
  print(item)

## List, Set, and Dictionary Comprehensions
Comprehensions are a Python language feature that enables the creation of new sequences using a concise and readable syntax. They combine filtering and transformation of elements from a collection into a single expression.

### List Comprehension

List comprehensions create lists with a single, inline expression.

General List Comprehension Syntax:

```python
[expression for value in collection if condition]
```

General `for-loop` equivalent:

```python
for value in collection:
    if condition:
        list.append(expression)
```

Explanation:

* `expression`: This is the expression that transforms each value into an element of the new list. It can be a simple variable, a mathematical operation, or a function call.
* `value`: This is the variable that represents each element in the collection during iteration.
* `collection`: This is the iterable (list, tuple, string, range, etc.) that provides the elements for the new list.
* `if condition`: This is an optional filter. Only values that satisfy the condition will be processed by the expression.

In [33]:
# List Comprehension Example
# Creates a new list from the words list of 3 or more characters
words = ["a", "as", "bat", "car", "dove", "python"]
words_filtered = [x.upper() for x in my_list if len(x) > 2]
print(words_filtered)

['BAT', 'CAR', 'DOVE', 'PYTHON']

### Set Comprehension

Set comprehensions look like this:

```python
set_comprehension = {expression for value in collection if condition}
```

In the example below, we create a set, `unique_lengths`, containing the unique lengths of words from the `words` list.

In [34]:
# Set Comprehension

words = ["apple", "banana", "apple", "cherry", "banana", "date"]
unique_lengths = {len(word) for word in words}

print(unique_lengths)

{4, 5, 6}

### Dictionary Comprehension

Dictionary comprehensions look like this:

```python
{key_expression: value_expression for value in collection if condition}
```

In the example below, we create a dictionary, `name_lengths`, where the names from the `names` list are key and their lengths are values.

In [35]:
# Dictionary Comprehension Example
# Creating a dictionary mapping names to their lengths

names = ["Denise", "Timothy", "Aaron"]
name_lengths = {name: len(name) for name in names}

print(name_lengths)

{'Denise': 6, 'Timothy': 7, 'Aaron': 5}

# Activities

## Activity 1 - List Comprehension - Filtering and Transformation

__Goal__: Create a new list containing the squares of all positive numbers from the given list.

In [42]:
numbers = [-3, 5, 0, -1, 8, -2, 4]

# Modify the list comprehension below:
squared_positives = [0]  # Replace 0 with the correct expression

print(squared_positives)  # Should output [25, 64, 16]

[25, 64, 16]

In [ ]:
## Activity 2: Set Comprehension

In [ ]:
words = ["Apple", "banana", "Cherry", "date", "BANANA", "apple"]

# Modify the set comprehension below:
first_letters = {0} # Replace 0 with the correct expression.

print(first_letters)  # Should output {'a', 'b', 'c', 'd'} (order may vary)

In [40]:
words = ["hello", "world", "python"]

# Modify the dictionary comprehension below:
reversed_words = {0:0} # Replace 0:0 with the correct expression.

print(reversed_words)  # Should output {'hello': 'olleh', 'world': 'dlrow', 'python': 'nohtyp'}

{'hello': 'olleh', 'world': 'dlrow', 'python': 'nohtyp'}